@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

$font-sizes: ("header": 40px, "logo": 25px, "main": 30px, "section":14px, "banner":15px);

body {
  background: $sectionBackground;
}

.landing-logo {
  @include flex(row);
  align-items: center;
}

.landing-logo p {
  padding: 15px;
  @include flex (column);
  text-align: center;
  font-weight: bold;
  font-size: map-get($font-sizes, "logo");
  font-family: $font;
  line-height: 20px;
  margin: 0;

  span {
    font-size: 10px;
  }
}


header {
  height: 600px;
  color: $headerTextColor;
  background: no-repeat center/100% $headerBackground;
  padding: 20px 200px;
  @include flex(column);
  border-bottom-right-radius: 300px;

  .header_heading {
    padding: 30px 0px;
    font-size: map-get($font-sizes, "header");
    font-family: $font;
    font-weight: bold;
    max-width: 400px;
    line-height: 50px;

    &::after {
      content: "";
      width: 170px;
      height: 20px;
      display: block;
      margin: -25px 0px 0px 0px;
      background: $underlineColor;
    }
  }

  .header_text {
    white-space: pre-line;
  }

  button {
    margin: 50px 0px;
    width: 150px;
    height: 50px;
    color: $articleTextColor;
    background: $buttonColor;
    border: none;

    &:hover {
      background: darken($color: $buttonColor, $amount: 20%);
    }
  }
}

main {
  color: $headerTextColor;
  height: 600px;
  @include flex(column);
  align-items: center;
  font-size: map-get($font-sizes, "main");
  font-family: $font;
  font-weight: bold;

  .section_text {
    &::after {
      content: "";
      width: 137px;
      height: 20px;
      display: block;
      margin: -25px 0px 0px 168px;
      background: $underlineColor;
    }
  }

  .section_card_wrap {
    @include flex(row);

    .section_card {
      @include flex(column);
      width: 350px;
      height: 400px;
      margin: 0px 20px;
      color: $articleTextColor;
      font-size: map-get($font-sizes, "section");
      font-weight: normal;
      background: $articleBackground;
      padding: 20px;
      text-align: center;

      .section_card_heading {
        font-size: map-get($font-sizes, "banner");
      }

      .section_card_underline {
        width: 110px;
        height: 10px;
        display: block;
        margin: -12px auto;
        background: $underlineColor;
      }

      img {
        height: (400px - 150px);
      }
    }
  }

  .section_banner {
    background: linear-gradient(to right, $buttonColor, $EndBanerGradient);
    @include flex(row);
    justify-content: space-evenly;
    align-items: center;
    margin: 100px;
    width: 1000px;
    height: 150px;
    border-radius: 10px;

    .section_banner_heading {
      margin-bottom: 0px;

      &::after {
        content: "";
        width: 60px;
        height: 20px;
        display: block;
        margin: -25px 0px 0px 125px;
        background: $underlineColor;
      }
    }

    .section_banner_text {
      color: $articleTextColor;
      font-size: map-get($font-sizes, "banner");
      margin-bottom: 40px;
    }

    button {
      width: 150px;
      height: 50px;
      color: $articleTextColor;
      background: $buttonColor;
      border: none;

      &:hover {
        background: lighten($color: $buttonColor, $amount: 20%);
      }
    }
  }
}

footer {
  background: $articleBackground;
  color: $articleTextColor;
  height: 200px;
  margin-top: 120px;
  padding-top: 100px;

  .footer-wrap {
    @extend .landing-logo;
    justify-content: space-evenly;


    .footer_text {
      width: 250px;
      font-size: 13px;
    }
  }
}