$headerBackground: url(../img/m-h-night.jpg);
$buttonColor: rgb(222,172,15);
$underlineColor: rgb(246,75,43);
$headerTextColor: rgb(255,255,255);
$font: 'Source Sans Pro', sans-serif;
$articleBackground: rgb(60,63,80);
$sectionBackground: rgb(33,35,46);
$articleTextColor: rgb(255,255,255);
$EndBanerGradient: rgb(142,42,81);
$footerLetterSpasing : 1px;