$headerBackground: url(../img/m-h-day.jpg);
$buttonColor: rgb(108,154,23);;
$underlineColor: rgb(56,150,199);
$headerTextColor: rgb(45,47,60);
$font: 'Hind', sans-serif;
$articleBackground: rgb(33,35,46);
$sectionBackground: rgb(255,255,255);
$articleTextColor: rgb(255,255,255);
$EndBanerGradient: rgb(60,91,209);
$footerLetterSpasing : normal;
